<!DOCTYPE html>
<html lang="en" xml:lang="en">

<body>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://th.bing.com/th/id/R.a8a57978cff594049fcb2d823bb6d7a3?rik=rQ3Hn5Fg9omNLw&riu=http%3a%2f%2fwww.formore-maker.com%2fUploadFolder%2f1525752028fcu.png&ehk=XcvZjVbusrotojz9M7hdENj0%2b4E88qwpZi9OQcpNRpU%3d&risl=&pid=ImgRaw&r=0" alt="Bootstrap" height="100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              回首頁
            </button>
		<img src="https://th.bing.com/th/id/R.a8a57978cff594049fcb2d823bb6d7a3?rik=rQ3Hn5Fg9omNLw&riu=http%3a%2f%2fwww.formore-maker.com%2fUploadFolder%2f1525752028fcu.png&ehk=XcvZjVbusrotojz9M7hdENj0%2b4E88qwpZi9OQcpNRpU%3d&risl=&pid=ImgRaw&r=0" alt="Bootstrap" height="100">
            <ul class="dropdown-menu dropdown-menu-light">
              <li><a class="dropdown-item" target="_blank" rel="noreferrer noopener" href="http://recommend.lib.fcu.edu.tw/weblink/scripts/weblink/Default2.aspx?s=main.aspx">回首頁</a></li>
              <li><a class="dropdown-item" target="_blank" rel="noreferrer noopener" href="https://web.lib.fcu.edu.tw/library/index.php">回圖書館首頁</a></li>
              <li><a class="dropdown-item" target="_blank" rel="noreferrer noopener" href="https://www.fcu.edu.tw/">回學校首頁</a></li>        
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>
